<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535925082351-om9oh5marpncfnd106s96ttjpss61e0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	
	<string>com.googleusercontent.apps.535925082351-om9oh5marpncfnd106s96ttjpss61e0e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>535925082351-of4cgiov3p7rn31o9jl1vvbndjm1q4pe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-FFJSBGG1o1nd7813gPfBS9m-0s-yL-o</string>
	<key>GCM_SENDER_ID</key>
	<string>535925082351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plagiarismCheckerApp</string>
	<key>PROJECT_ID</key>
	<string>plagiarism-checker-app-48766</string>
	<key>STORAGE_BUCKET</key>
	<string>plagiarism-checker-app-48766.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535925082351:ios:2fac0e68801c1502f5731a</string>
	<key>DATABASE_URL</key>
	<string>https://plagiarism-checker-app-48766-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>